<div class="page-laundromats">

  <div class="lm-header">
    <%= form_with url: laundromats_path, method: :get, class: "lm-search-form", local: true do %>
      <div class="lm-search-wrapper">
        <%= text_field_tag :query, params[:query], class: "lm-search-input", placeholder: "Search laundromats..." %>
        <button type="submit" class="lm-search-icon">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>
    <% end %>
  </div>

  <div class="lm-container">
    <!-- Left Side - Cards -->
    <div class="lm-content-side">
      <div class="lm-scrollable-content">
        <div class="lm-grid">
          <% @laundromats.each do |laundromat| %>
            <div class="lm-card">
              <% if laundromat.photos.attached? %>
                <%= cl_image_tag laundromat.photos.first.key, class: "lm-card-image" %>
              <% else %>
                <div class="lm-card-image lm-no-photo">No photo</div>
              <% end %>

              <div class="lm-card-content">
                <h3 class="lm-card-name"><%= laundromat.name %></h3>
                <p class="lm-card-address"><%= laundromat.address %></p>
                <%= link_to "View Laundromat", laundromat_path(laundromat), class: "lm-view-button" %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>


    <!-- Right Side - Map -->
    <div class="lm-map-side">
      <div class="lm-map-container"
           data-controller="map"
           data-map-markers-value="<%= @markers.to_json %>"
           data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>

</div>
