
<div style="width: 100%; height: 300px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
</div>
<div class="margin-right"><%= link_to "Create Laundromat", new_laundromat_path, class: "btn btn-primary" %></div>

<% @laundromats.each do |laundromat| %>
<div style="grid-template-columns: 1fr 1fr;" class="d-grid gap-3">
 <div class="p-2">
  <div class="card-product">
    <% if laundromat.photos.attached? %>
      <% laundromat.photos.each do |photo| %>
        <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
      <% end %>
    <% else %>
      <p>No photos available</p>
    <% end %>

    <div class="card-product-infos">
      <h2><%= link_to laundromat.name, laundromat_path(laundromat) %></h2>
      <p><%= laundromat.address %></p>
      <p>Product description with <strong>relevant info</strong> only.</p>
   </div>
  </div>
  </div>
</div>
<% end %>
