<h2><%= @laundromat.name %></h2>
<p><%= @laundromat.address %></p>
<<<<<<< HEAD
<p><%= @laundromat.phone_number %></p>
<h2>Book this <%= @laundromat.name %></h2>
<%= simple_form_for [@laundromat, @order] do |f| %>
  <%= f.input :pickup_time %>
  <%= f.submit %>
<% end %>

<%= link_to "Book a Laundry Pickup", new_laundromat_order_path(@laundromat), class: "btn btn-success mt-3" %>
<% if @orders.exists? %>
  <h3>Your orders</h3>
  <ul>
    <% @orders.each do |order| %>
      <li><%= link_to order.created_at.strftime("%a %b %e"), order %></li>
    <% end %>
  </ul>
=======
<% @laundromat.photos.each do |photo| %>
      <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
>>>>>>> 7d0b4326b40516846af396f1bcddf456edf185d3
<% end %>
<p><strong>Reviews</strong></p>
<ul class="list-group">
  <% @laundromat.reviews.each do |review| %>
    <%= review.rating %>
    <li class="list-group-item"><%= review.content %></li>
  <% end %>
  <%= link_to "Book This Laundry", new_laundromat_order_path(@laundromat) %><br>
  <%= link_to "Back to all laundromats", laundromats_path %>
  <%= link_to "Delete laundromat",
  laundromat_path(@laundromat),
  data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
%>
<%= simple_form_for [@laundromat, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience", input_html: {data: {controller: "star-rating"}} %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
</ul>
<br>
