<nav class="navbar">
  <div class="navbar-left">
    <%= link_to root_path, class: "navbar-logo" do %>
      Laundroman
    <% end %>
  </div>
  <div class="navbar-links">
    <%= link_to laundromats_path, class: "navbar-link" do %>
      <i class="fa-solid fa-building"></i> Laundromats
    <% end %>
    <%= link_to new_laundromat_path, class: "navbar-link" do %>
      <i class="fa-solid fa-plus-circle"></i> Add New
    <% end %>
    <% if user_signed_in? %>
      <%= link_to destroy_user_session_path, method: :delete, class: "navbar-link" do %>
        <i class="fa-solid fa-right-from-bracket"></i> Logout
      <% end %>
    <% else %>
      <%= link_to new_user_session_path, class: "navbar-link" do %>
        <i class="fa-solid fa-right-to-bracket"></i> Login
      <% end %>
    <% end %>
  </div>
</nav>
