<nav class="navbar navbar-expand-sm">
  <div class="container-fluid">
    <!-- Left logo -->
    <%= link_to root_path, class: "navbar-logo navbar-brand" do %>
      Laundroman
    <% end %>

    <!-- Burger menu for mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Main nav links -->
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <%= link_to laundromats_path, class: "nav-link navbar-link" do %>
            <i class="fa-solid fa-building"></i> Laundromats
          <% end %>
        </li>

        <li class="nav-item">
          <%= link_to new_laundromat_path, class: "nav-link navbar-link" do %>
            <i class="fa-solid fa-plus-circle"></i> Add New
          <% end %>
        </li>

        <% if user_signed_in? %>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navbar-link" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-user"></i> Account
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
              <li>
                <%= link_to "Log out", destroy_user_session_path, data: { turbo_method: :delete }, class: "dropdown-item" %>
                <%= link_to "Orders", orders_path, class: "dropdown-item" %>

              </li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-link navbar-link" do %>
              <i class="fa-solid fa-right-to-bracket"></i> Login
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
