<nav class="navbar">
  <div class="navbar-left">
    <%= link_to root_path, class: "navbar-logo" do %>
      Laundroman
    <% end %>
  </div>
  <div class="navbar-links">
    <%= link_to laundromats_path, class: "navbar-link" do %>
      <i class="fa-solid fa-building"></i> Laundromats
    <% end %>
    <%= link_to new_laundromat_path, class: "navbar-link" do %>
      <i class="fa-solid fa-plus-circle"></i> Add New
    <% end %>
    <%= link_to edit_user_registration_path, class: "navbar-link" do %>
      <i class="fa-solid fa-user"></i> Account
    <% end %>
    <%= link_to destroy_user_session_path, method: :delete, class: "navbar-link" do %>
      <i class="fa-solid fa-right-from-bracket"></i> Logout
    <% end %>
  </div>
</nav>
