<%= turbo_frame_tag dom_id(f.object) do %>
  <div class="nested-fields order-item-row mb-2"
      data-order-items-target="item"
      data-action="change->order-items#updateItemPrice input->order-items#updateItemPrice">

    <div class="order-item-col">
      <%= f.label :item_type, "Item Type" %>
      <%= f.select :item_type,
        [
          "T-Shirt", "Shirt", "Blouse", "Polo Shirt", "Chinos", "Dress Pants", "Jeans",
          "Shorts", "Jacket", "Hoodie", "Sweater", "Tracksuit", "Underpants", "Boxers", "Briefs",
          "Bra", "Socks (Pair)", "Undershirt", "Silk Blouse", "Lace Dress", "Wool Sweater",
          "Scarf", "Suit (2-piece)", "Suit (3-piece)", "Evening Gown", "Coat", "Blazer",
          "Skirt", "Dress", "Curtains", "Bed Sheet", "Duvet Cover", "Pillow Case", "Blanket",
          "Comforter", "Mattress Cover", "Tablecloth", "Rug (Small)", "Rug (Large)"
        ],
        {},
        class: "input-select",
        data: { order_items_target: "itemType" } %>
    </div>

    <div class="order-item-col">
      <%= f.label :quantity %>
      <%= f.number_field :quantity,
            min: 1,
            value: 1,
            class: "input-number",
            data: { order_items_target: "quantity" } %>
    </div>

    <div class="order-item-col">
      <%= f.label :price %>
      <%= f.number_field :price,
            step: 0.01,
            readonly: true,
            class: "input-number readonly",
            data: { order_items_target: "price" } %>
    </div>

    <div class="order-item-col-auto">
      <%= f.hidden_field :_destroy, value: "false",
            data: { order_items_target: "destroyField" } %>
          <button type="button"
                class="remove-btn"
                data-action="order-items#remove">
          <i class="fa-solid fa-trash" aria-hidden="true"></i> Remove
        </button>
    </div>
  </div>
<% end %>
