<h1>Confirm Your Order</h1>

<% if @order && @order.order_items.any? %>
  <ul>
    <% @order.order_items.each do |item| %>
      <li><%= item.item_type %> - <%= item.quantity %> × R<%= item.price %></li>
    <% end %>
  </ul>

  <p><strong>Total Price:</strong> R<%= @order.total_price %></p>

  <%= form_with url: confirm_order_path(@order), method: :post do %>
    <%= hidden_field_tag "order[laundromat_id]", @order.laundromat_id %>

    <% @order.order_items.each_with_index do |item, index| %>
      <%= hidden_field_tag "order[order_items_attributes][#{index}][item_type]", item.item_type %>
      <%= hidden_field_tag "order[order_items_attributes][#{index}][quantity]", item.quantity %>
      <%= hidden_field_tag "order[order_items_attributes][#{index}][price]", item.price %>
    <% end %>

    <div>
      <%= label_tag :pickup_time, "Pickup Time" %><br>
      <%= datetime_select :order, :pickup_time %>
    </div>

    <div>
      <%= label_tag :delivery_time, "Delivery Time" %><br>
      <%= datetime_select :order, :delivery_time %>
    </div>

    <%= submit_tag "Confirm Order" %>
  <% end %>

  <br>
  <%= link_to "Edit Order", edit_order_path(@order), method: :get %>
  <%= link_to "Cancel", orders_path, method: :get %>
<% else %>
  <p>No order details found.</p>
<% end %>
