<div class="order-page">
    <div class="order-form">

<h1>Edit Order</h1>

<%= form_with model: @order, url: order_path(@order), method: :patch,
              data: { controller: "order-items", action: "submit->order-items#preventSubmit" },
              local: true do |f| %>

  <%= f.hidden_field :laundromat_id, value: @order.laundromat.id %>

  <h2>Items</h2>

  <div data-order-items-target="items">
    <%= f.fields_for :order_items do |item_fields| %>
      <%= render "order_item_fields", f: item_fields %>
    <% end %>
  </div>

  <template data-order-items-target="template">
    <%= f.fields_for :order_items, OrderItem.new, child_index: "NEW_RECORD" do |item_fields| %>
      <%= render "order_item_fields", f: item_fields %>
    <% end %>
  </template>

  <div class="form-group add-item">
          <button type="button" class="add-item-button" data-action="order-items#add">
            + Add Item
          </button>
        </div>

  <div class="mt-3">
    <p><strong>Total:</strong> R <span data-order-items-target="total">0.00</span></p>
    <%= f.hidden_field :total_price, value: @order.total_price, data: { order_items_target: "totalInput" } %>
  </div>

  <div class="mt-4">
    <%= f.submit "Update Order", class: "submit-button" %>
  </div>

<% end %>

  </div>
</div>
