<!--<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>
-->

<h1>My Orders</h1>

<% if @orders.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Laundromat</th>
        <th>Status</th>
        <th>Pickup</th>
        <th>Delivery</th>
        <th>Total (ZAR)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.laundromat.name %></td>
          <td><%= order.status.capitalize %></td>
          <td><%= l(order.pickup_time, format: :short) %></td>
          <td><%= l(order.delivery_time, format: :short) %></td>
          <td>R<%= order.total_price %></td>
          <td><%= link_to "View", order_path(order), class: "btn btn-sm btn-outline-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no orders yet.</p>
<% end %>


<% if @bags.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Laundromat</th>
        <th>Status</th>
        <th>Pickup</th>
        <th>Delivery</th>
        <th>Total (ZAR)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @bags.each do |order| %>
        <tr>
          <td><%= order.laundromat.name %></td>
          <td><%= order.status.capitalize %></td>
          <td><%= l(order.pickup_time, format: :short) %></td>
          <td><%= l(order.delivery_time, format: :short) %></td>
          <td>R<%= order.total_price %></td>
          <td><%= link_to "View", order_path(order), class: "btn btn-sm btn-outline-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>You have no deliveries yet.</p>
<% end %>
