
<h1>Your Orders</h1>

<p><%= link_to "Browse Laundromats", laundromats_path %></p>

<% @orders.each do |order| %>
  <div>
    <p><strong>Order ID:</strong> <%= order.id %></p>
    <p><strong>Status:</strong> <%= order.status %></p>
    <p><strong>Total Price:</strong> R<%= order.total_price %></p>
    <p><strong>Pickup Time:</strong> <%= order.pickup_time %></p>
    <p><strong>Delivery Time:</strong> <%= order.delivery_time %></p>
    <p><%= link_to 'View Order', order_path(order) %></p>

    <% if order.status == "pending" %>
      <%= form_with url: cancel_order_path(order), method: :patch do %>
        <%= submit_tag "Cancel Order" %>
      <% end %>
    <% end %>
  </div>
  <hr>
<% end %>

<% if @bags.any? %>
  <h2>Clients</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Laundromat</th>
        <th>Status</th>
        <th>Pickup</th>
        <th>Delivery</th>
        <th>Total (ZAR)</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @bags.each do |order| %>
        <tr>
          <td><%= order.laundromat.name %></td>
          <td><%= order.status.capitalize %></td>
          <td><%= l(order.pickup_time, format: :short) %></td>
          <td><%= l(order.delivery_time, format: :short) %></td>
          <td>R<%= order.total_price %></td>
          <td><%= link_to "View", order_path(order), class: "btn btn-sm btn-outline-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% else %>
  <p>You have no deliveries yet.</p>

  <% @bags.each do |order| %>
    <div>
      <p><strong>Order ID:</strong> <%= order.id %></p>
      <p><strong>Status:</strong> <%= order.status %></p>
      <p><strong>Total Price:</strong> R<%= order.total_price %></p>
      <p><strong>Pickup Time:</strong> <%= order.pickup_time %></p>
      <p><strong>Delivery Time:</strong> <%= order.delivery_time %></p>
      <p><%= link_to 'View Order', order_path(order) %></p>

      <% if order.status == "pending" %>
        <%= form_with url: cancel_order_path(order), method: :patch do %>
          <%= submit_tag "Cancel washload" %>
        <% end %>
      <% end %>
    </div>
    <hr>
  <% end %>
<% end %>
