<h1>Your Orders</h1>

<p><%= link_to "Browse Laundromats", laundromats_path %></p>

<% @orders.each do |order| %>
  <div>
    <p><strong>Order ID:</strong> <%= order.id %></p>
    <p><strong>Status:</strong> <%= order.status %></p>
    <p><strong>Total Price:</strong> R<%= order.total_price %></p>
    <p><strong>Pickup Time:</strong> <%= order.pickup_time %></p>
    <p><strong>Delivery Time:</strong> <%= order.delivery_time %></p>
    <p><%= link_to 'View Order', order_path(order) %></p>
    <% if order.status == "pending" %>
      <%= form_with url: cancel_order_path(order), method: :patch do %>
  <%= submit_tag "Cancel Order" %>
<% end %>
    <% end %>
  </div>
  <hr>
<% end %>
